<header>
    {{> header}}
</header>
<main class="search">
    <h2>Zoeken</h2>
    <form action="/zoekresultaten" method="POST">
        <label for="zoeken"></label>
        <input type="text" id="zoeken" name="zoeken" placeholder="Zoeken een kunstwerk...">
        <button type="submit"></button>
    </form>

    {{!-- <nav id="quicksearch-nav">
        <ul>
            <li><a href="/categorie/schilderij">Schilderijen</a></li>
            <li><a href="/categorie/pot">Potten</a></li>
            <li><a href="/categorie/figuur">Figuren</a></li>
            <li><a href="/details/nl-SK-C-5">De Nachtwacht</a></li>
            <li><a href="/details/nl-SK-A-3262">Zelfportret Vincent Van Gogh</a></li>
        </ul>
    </nav> --}}

    <ul>
        {{#each data}}
        <li>
            <a href="/details/{{this.objectNumber}}">
                <img src="{{this.image}}" alt="{{this.title}}">
            </a>
        </li>
        {{/each}}
    </ul>
</main>